<template name="gongdan">
    <tr class="{{#if compare shuju_gongdan.dangqiangdzt '===' '作废' }}line-through{{/if}}">
        <td class="project-title" width="25%">
            <a href="#" class="vote-title" style="font-weight: inherit;margin-left: 0;font-size: 16px;">
                {{shuju_gongdan.xiangmumc}}
            </a>
            <div class="vote-info" style="margin-left: 0">
                <i class="fa fa-comments-o"></i> <a href="#">{{shuju_gongdan.shoukuandw}}</a>
                <i class="fa fa-clock-o"></i> <a href="#">{{shuju_gongdan.fuwulxmc}}</a>
            </div>
        </td>
        <td class="project-completion" width="25%">
        {{#if compare shuju_gongdan.dangqianclzt '===' '填报' }}
            <div class="horizontal-timeline">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item active">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>马旭成</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">填报</div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item negative">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>小宇</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">初审</div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item negative">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>王言</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">签批</div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item negative">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>张辉</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">拨付</div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if compare shuju_gongdan.dangqianclzt '===' '初审' }}
            <div class="horizontal-timeline">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>马旭成</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">填报</div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item active">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>小宇</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">初审</div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item negative">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>王言</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">签批</div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item negative">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>张辉</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">拨付</div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if compare shuju_gongdan.dangqianclzt '===' '签批' }}
            <div class="horizontal-timeline">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>马旭成</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">填报</div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>小宇</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">初审</div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item active">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>王言</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">签批</div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item negative">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>张辉</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">拨付</div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if compare shuju_gongdan.dangqianclzt '===' '拨付' }}
            <div class="horizontal-timeline">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>马旭成</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">填报</div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>小宇</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">初审</div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>王言</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">签批</div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="horizontal-timeline-item active">
                            <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>张辉</h3>'>
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="horizontal-timeline-content">拨付</div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if compare shuju_gongdan.dangqianclzt '===' '完成' }}
                <div class="horizontal-timeline">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="horizontal-timeline-item">
                                <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>马旭成</h3>'>
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div class="horizontal-timeline-content">填报</div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="horizontal-timeline-item">
                                <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>小宇</h3>'>
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div class="horizontal-timeline-content">初审</div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="horizontal-timeline-item">
                                <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>王言</h3>'>
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div class="horizontal-timeline-content">签批</div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="horizontal-timeline-item">
                                <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>张辉</h3>'>
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div class="horizontal-timeline-content">拨付</div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        </td>
        <td class="project-completion" width="30%">
            <span>工程资金拨付进度:</span>
            <div class="stat-percent">{{math_except_percent shuju_gongdan.zhishangqljbfzj shuju_gongdan.hetongje}}%</div>
            <div class="progress progress-mini">
                <div style="width: {{math_except_percent shuju_gongdan.zhishangqljbfzj shuju_gongdan.hetongje}}%" class="progress-bar"></div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="font-bold">合同金额</div>
                    {{shuju_gongdan.hetongje}}万元
                </div>
                <div class="col-sm-6 text-right">
                    <div class="font-bold">至上期累计拨付资金</div>
                    {{shuju_gongdan.zhishangqljbfzj}}万元
                </div>
            </div>
        </td>
        <td class="project-actions" width="20%">
            <button id="chakanzjbfspb" class="btn btn-primary btn-outline btn-sm" data-toggle="modal" data-target="#zijinbfspbck"><i class="fa fa-folder"></i> 查看 </button>
        </td>
    </tr>
</template>