<template name="gongdanlb">
    <div class="project-list">
        <table class="table table-hover">
            <tbody>
            {{> gongdan}}
            <tr>
                <td class="project-title" width="25%">
                    <a href="#" class="vote-title" style="font-weight: inherit;margin-left: 0;font-size: 16px;">
                        三峡大坝工程
                    </a>
                    <div class="vote-info" style="margin-left: 0">
                        <i class="fa fa-comments-o"></i> <a href="#">江苏里仁软件有限公司</a>
                        <i class="fa fa-clock-o"></i> <a href="#">施工类</a>
                        <i class="fa fa-user"></i> <a href="#">马旭成</a>
                    </div>
                </td>
                <td class="project-completion" width="25%">
                    <div class="horizontal-timeline-item">
                        <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>马旭成</h3>'>
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <div class="horizontal-timeline-content">保存</div>
                    </div>
                </td>
                <td class="project-completion" width="30%">
                    <span>工程资金拨付进度:</span>
                    <div class="stat-percent">48%</div>
                    <div class="progress progress-mini">
                        <div style="width: 48%;" class="progress-bar"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="font-bold">计量支付审定资金</div>
                            200万元
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">本期审定金额</div>
                            180万元
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">上期拨付金额</div>
                            300万元 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>
                </td>
                <td class="project-actions" width="20%">
                    <a href="#" class="btn btn-primary btn-outline btn-sm" data-toggle="modal" data-target="#zijinbfspbbj"><i class="fa fa-folder"></i> 编辑 </a>
                    <a href="javascript:void(0)" class="btn btn-primary btn-outline btn-sm" onclick="shangchuansmj()"><i class="fa fa-folder"></i> 提交 </a>
                </td>
            </tr>
            <tr class="line-through">
                <td class="project-title" width="25%">
                    <a href="#" class="vote-title" style="font-weight: inherit;margin-left: 0;font-size: 16px;">
                        泉山区老旧街道翻新工程标段201-205号
                    </a>
                    <div class="vote-info" style="margin-left: 0">
                        <i class="fa fa-comments-o"></i> <a href="#">江苏里仁软件有限公司</a>
                        <i class="fa fa-clock-o"></i> <a href="#">施工类</a>
                        <i class="fa fa-user"></i> <a href="#">马旭成</a>
                    </div>
                </td>
                <td class="project-completion" width="25%">
                    <div class="horizontal-timeline-item">
                        <div class="horizontal-timeline-icon navy-bg" data-toggle="tooltip" title='<h3>马旭成</h3>'>
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <div class="horizontal-timeline-content">作废</div>
                    </div>
                </td>
                <td class="project-completion" width="30%">
                    <span>工程资金拨付进度:</span>
                    <div class="stat-percent">48%</div>
                    <div class="progress progress-mini">
                        <div style="width: 48%;" class="progress-bar"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 line-through">
                            <div class="font-bold">计量支付审定资金</div>
                            200万元
                        </div>
                        <div class="col-sm-4 line-through">
                            <div class="font-bold">本期审定金额</div>
                            180万元
                        </div>
                        <div class="col-sm-4 text-right line-through">
                            <div class="font-bold">上期拨付金额</div>
                            300万元 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>
                </td>
                <td class="project-actions" width="20%">
                    <a href="#" class="btn btn-primary btn-outline btn-sm" data-toggle="modal" data-target="#zijinbfspbck"><i class="fa fa-folder"></i> 查看 </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal inmodal fade" id="zijinbfspbck" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">工程资金拨付审批表</h4>
                    <small class="font-bold">查看工程资金拨付审批表。</small>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table width="100%" border="1px" style="table-layout: fixed">
                                <tbody>
                                <tr>
                                    <td colspan="3">建设指挥部（管理办）：</td>
                                    <td colspan="3">邳州市交通局</td>
                                    <td colspan="3">编号：</td>
                                    <td colspan="3">0101170010001</td>
                                </tr>
                                <tr>
                                    <td colspan="3">收款单位：</td>
                                    <td colspan="3">阿里巴巴有限公司</td>
                                    <td colspan="2">服务类型：</td>
                                    <td colspan="1">施工类</td>
                                    <td colspan="2">单位：</td>
                                    <td colspan="1">万元</td>
                                </tr>
                                <tr style="height: 50px">
                                    <td colspan="3">项目名称：</td>
                                    <td colspan="3">泉山区道路翻新工程</td>
                                    <td colspan="3">工程性质：</td>
                                    <td colspan="3">施工类工程</td>
                                </tr>
                                <tr style="height: 100px">
                                    <td colspan="3">项目内容、规模：</td>
                                    <td colspan="9">需要选择工程信息库中某个工程，字段审批单编号由系统自动生成，字段指挥部编号、指挥部名称、收款单位、服务类型编号、服务类型名称、项目编号、项目名称、工程性质、项目内容规模、计划资金总额、暂定金额、计量支付审定资金、质保金扣除由项目信息库中导入生成，字段拨款依据、本期变更金额、本期申请资金、本期核定拨付资金、计划服务费用、申请理由、职能部门意见由申请人手工录入，其中申请理由附件由申请人选择项目库信息中的附件，字段清单价及安全生产经费、累计变更金额、至上期累计拨付资金、未付资金、应付资金、本期累计拨付资金由系统根据手工输入和项目信息库中的数据计算得出。
                                    </td>
                                </tr>
                                <tr style="height: 50px">
                                    <td colspan="3">拨款依据：</td>
                                    <td colspan="3">泉山区道路翻新工程</td>
                                    <td colspan="3">计划资金总额：</td>
                                    <td colspan="3">1120万元</td>
                                </tr>
                                <tr style="height: 50px">
                                    <td colspan="3">暂定金额：</td>
                                    <td colspan="3">521万元</td>
                                    <td colspan="3">清单价及安全生产经费：</td>
                                    <td colspan="3">110万元</td>
                                </tr>
                                <tr style="height: 50px">
                                    <td colspan="3">本期变更金额：</td>
                                    <td colspan="3">12万元</td>
                                    <td colspan="3">累计变更金额：</td>
                                    <td colspan="3">51万元</td>
                                </tr>
                                <tr style="height: 50px">
                                    <td colspan="3">计量支付审定资金：</td>
                                    <td colspan="3">200万元</td>
                                    <td colspan="3">至上期累计拨付资金：</td>
                                    <td colspan="3">852万元</td>
                                </tr>
                                <tr style="height: 50px">
                                    <td colspan="3">未付资金：</td>
                                    <td colspan="3">268万元</td>
                                    <td colspan="3">质保金扣除：</td>
                                    <td colspan="3">56万元</td>
                                </tr>
                                <tr style="height: 50px">
                                    <td colspan="3">应付资金：</td>
                                    <td colspan="3">212万元</td>
                                    <td colspan="3">本期申请资金：</td>
                                    <td colspan="3">200万元</td>
                                </tr>
                                <tr style="height: 50px">
                                    <td colspan="3">本期核定拨付资金：</td>
                                    <td colspan="3">200万元</td>
                                    <td colspan="3">本期累计拨付资金：</td>
                                    <td colspan="3">10万元</td>
                                </tr>
                                <tr style="height: 100px">
                                    <td colspan="3">申请理由：</td>
                                    <td colspan="9">需要选择工程信息库中某个工程，字段审批单编号由系统自动生成，字段指挥部编号、指挥部名称、收款单位、服务类型编号、服务类型名称、项目编号、项目名称、工程性质、项目内容规模、计划资金总额、暂定金额、计量支付审定资金、质保金扣除由项目信息库中导入生成，字段拨款依据、本期变更金额、本期申请资金、本期核定拨付资金、计划服务费用、申请理由、职能部门意见由申请人手工录入，其中申请理由附件由申请人选择项目库信息中的附件，字段清单价及安全生产经费、累计变更金额、至上期累计拨付资金、未付资金、应付资金、本期累计拨付资金由系统根据手工输入和项目信息库中的数据计算得出。
                                    </td>
                                </tr>
                                <tr style="height: 50px">
                                    <td colspan="3">职能部门意见：</td>
                                    <td colspan="3">通过</td>
                                    <td colspan="3">财务部门意见：</td>
                                    <td colspan="3">通过</td>
                                </tr>
                                <tr style="height: 25px">
                                    <td colspan="2">填报人：</td>
                                    <td colspan="1">马旭成</td>
                                    <td colspan="3">2017年10月16日 21:19:06</td>
                                    <td colspan="2">初审人：</td>
                                    <td colspan="1">小宇</td>
                                    <td colspan="3">2017年10月16日 22:19:06</td>
                                </tr>
                                <tr style="height: 50px">
                                    <td colspan="3">局分管领导签批：</td>
                                    <td colspan="3">批准拨款</td>
                                    <td colspan="3">局主要领导签批：</td>
                                    <td colspan="3">批准拨款</td>
                                </tr>
                                <tr style="height: 25px">
                                    <td colspan="2">签字：</td>
                                    <td colspan="1">张辉</td>
                                    <td colspan="3">2017年10月16日 21:19:06</td>
                                    <td colspan="2">签字：</td>
                                    <td colspan="1">张辉</td>
                                    <td colspan="3">2017年10月16日 21:19:06</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</template>