<template name="gongchengzjcxtj">

    <div class="ibox-content m-b-sm border-bottom">

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="xmnd">年度</label>
                    <select class="form-control" id="xmnd">
                        <option value="全部">全部</option>
                        {{#each niandu}}
                        <option value="{{mazhi}}">{{mazhi}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="xmmc">项目名称</label>
                    <input type="text" id="xmmc" name="xmmc" value="" placeholder="" class="form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="xmzt">项目状态</label>
                    <select name="xmzt" id="xmzt" class="form-control">
                        <option value="全部">全部</option>
                        {{#each xiangmuzt}}
                        <option value="{{mazhi}}">{{mazhi}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="xmfl">项目分类</label>
                    <select name="xmfl" id="xmfl" class="form-control">
                        <option value="全部">全部</option>
                        {{#each xiangmufl}}
                        <option value="{{mazhi}}">{{mazhi}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="dwmc">单位名称</label>
                    <input type="text" id="dwmc" name="dwmc" value="" placeholder="" class="form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="fwlx">服务类型</label>
                    <select name="fulw" id="fwlx" class="form-control">
                        <option value="全部">全部</option>
                        {{#each fuwulx}}
                        <option value="{{mazhi}}">{{mazhi}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="spbh">审批表编号</label>
                    <input type="text" id="spbh" name="spbh" value="" placeholder="" class="form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="bofuxxss">操作</label>
                    <button type="button" class=" btn btn-block  btn-primary" id="bofuxxss">查询</button>
                </div>
            </div>
        </div>

    </div>

</template>