<template name="gongchengzjbfhz">

    {{> pageHeading title='工程资金拨付汇总'}}

    <div class="wrapper wrapper-content">

        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="xmmc">项目名称</label>
                        <input type="text" id="xmmc" name="xmmc" value="" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="xmfl">项目分类</label>
                        <select name="xmfl" id="xmfl" class="form-control">
                            <option value="">全部</option>
                            {{#each xiangmufl}}
                            <option value="{{mazhi}}">{{mazhi}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="fwlx">服务类型</label>
                        <select name="fwlx" id="fwlx" class="form-control">
                            <option value="">全部</option>
                            {{#each fuwulx}}
                            <option value="{{mazhi}}">{{mazhi}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="kaishind">开始年度</label>
                        <select name="cxtj_ksnd" id="kaishind" class="form-control">
                            <option value="">全部</option>
                            {{#each kaishind}}
                            <option value="{{mazhi}}">{{mazhi}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="control-label" for="jieshund">结束年度</label>
                    <select name="jieshund" id="jieshund" class="form-control">
                        <option value="">全部</option>
                        {{#each jieshund}}
                        <option value="{{mazhi}}">{{mazhi}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="bofuhzxxss">操作</label>
                        <button type="button" class=" btn btn-block btn-primary" id="bofuhzxxss">查询</button>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="chongzhian">操作</label>
                        <button type="button" class=" btn btn-block btn-primary" id="chongzhian">重置</button>
                    </div>
                </div>
            </div>

        </div>

        <!--dataTables-example-->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">

                        <div class="table-responsive">

                            <table class="table table-striped table-bordered table-hover dataTables-example" >
                                <thead>
                                <tr>
                                    <th>年度</th>
                                    <th>项目名称</th>
                                    <th>项目分类</th>
                                    <th>单位名称</th>
                                    <th>服务类型</th>
                                    <th>标段名称</th>
                                    <th title="万元">合同金额(万元)</th>
                                    <th title="万元">质保金(万元)</th>
                                    <th title="万元">支付金额(万元)</th>
                                    <th title="万元">已累计拨付金额(万元)</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="2" style="text-align:center">汇总</th>
                                    <th colspan="4"></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>