<template name="gongchengzjbf">

    {{> pageHeading title='工程资金拨付'}}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><button class="btn btn-outline btn-primary dim" data-toggle="tab" href="#weiwanjiegd" id="chakanqbgd"><i class="fa fa-money"></i> 全部工单</button></li>
                        <li class="pull-right"><button class="btn btn-primary dim" data-toggle="modal" data-target="#xinjianzjbfspb" id="xinzenggczjbfspb"><i class="fa fa-money"></i> 新建资金拨付审批表</button></li>
                    </ul>
                    <div class="modal inmodal fade" id="xinjianzjbfspb" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                                    <h4 class="modal-title">新建资金拨付审批表</h4>
                                    <small class="font-bold">将开启一个新的资金拨付审批流程，如果上一个流程未结束，则无法提交。</small>
                                </div>
                                <div class="modal-body">
                                    <div id="wizard">
                                        <h1>选择审批表类型</h1>
                                        <div class="step-content">
                                            <div class="text-center m-t-md">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <button class="btn btn-default p-xl">施工类资金拨付审批单</button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button class="btn btn-default p-xl">其他类资金拨付审批单</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <h1>选择申请单位</h1>
                                        <div class="step-content">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <select data-placeholder="请选择工程年度..." id="xiangmundlb" class="select-chosen">
                                                        <option></option>
                                                        {{#each shuju_xiangmund}}
                                                            <option value="{{this}}">{{this}}年度工程</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select data-placeholder="请选择工程名称..." id="xiangmumclb" class="select-chosen">
                                                        <option></option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select data-placeholder="请选择收款单位/标段名称..." id="shoukuandwmclb" class="select-chosen">
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="row" style="min-height: 300px">
                                                <div class="col-md-12">
                                                    <table class="myTable" border="1px" width="100%">
                                                        <caption style="text-align: right">单位：万元</caption>
                                                        <thead>
                                                        <tr>
                                                            <th>日期</th>
                                                            <th>合同金额</th>
                                                            <th>质保金</th>
                                                            <th>上期审定金额</th>
                                                            <th>已累计拨付资金</th>
                                                            <th>未付资金</th>
                                                            <th>审计金额</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>2017年9月25日</td>
                                                            <td>500</td>
                                                            <td>120</td>
                                                            <td>25</td>
                                                            <td>210</td>
                                                            <td>290</td>
                                                            <td>20</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2017年9月25日</td>
                                                            <td>500</td>
                                                            <td>120</td>
                                                            <td>25</td>
                                                            <td>210</td>
                                                            <td>290</td>
                                                            <td>70</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2017年9月25日</td>
                                                            <td>500</td>
                                                            <td>120</td>
                                                            <td>25</td>
                                                            <td>210</td>
                                                            <td>290</td>
                                                            <td>50</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2017年9月25日</td>
                                                            <td>500</td>
                                                            <td>120</td>
                                                            <td>25</td>
                                                            <td>210</td>
                                                            <td>290</td>
                                                            <td>70</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2017年9月25日</td>
                                                            <td>500</td>
                                                            <td>120</td>
                                                            <td>25</td>
                                                            <td>210</td>
                                                            <td>290</td>
                                                            <td>70</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <h1>填写资金拨付申请表</h1>
                                        <div class="step-content">
                                            <div class="text-center m-t-md">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table width="100%" border="1px" style="table-layout: fixed">
                                                            <tbody>
                                                            <tr>
                                                                <td colspan="3">建设指挥部（管理办）：</td>
                                                                <td colspan="3">邳州市交通局</td>
                                                                <td colspan="3">编号：</td>
                                                                <td colspan="3">0101170010001</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">收款单位：</td>
                                                                <td colspan="3">阿里巴巴有限公司</td>
                                                                <td colspan="2">服务类型：</td>
                                                                <td colspan="1">{{shuju_test}}</td>
                                                                <td colspan="2">单位：</td>
                                                                <td colspan="1">万元</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="2">项目名称：</td>
                                                                <td colspan="2">泉山区道路翻新工程</td>
                                                                <td colspan="2">工程性质：</td>
                                                                <td colspan="2">施工类工程</td>
                                                                <td colspan="2">标段名称：</td>
                                                                <td colspan="2">翻新工程-03标段</td>
                                                            </tr>
                                                            <tr style="height: 100px">
                                                                <td colspan="3">项目内容、规模：</td>
                                                                <td colspan="9">需要选择工程信息库中某个工程，字段审批单编号由系统自动生成，字段指挥部编号、指挥部名称、收款单位、服务类型编号、服务类型名称、项目编号、项目名称、工程性质、项目内容规模、计划资金总额、暂定金额、计量支付审定资金、质保金扣除由项目信息库中导入生成，字段拨款依据、本期变更金额、本期申请资金、本期核定拨付资金、计划服务费用、申请理由、职能部门意见由申请人手工录入，其中申请理由附件由申请人选择项目库信息中的附件，字段清单价及安全生产经费、累计变更金额、至上期累计拨付资金、未付资金、应付资金、本期累计拨付资金由系统根据手工输入和项目信息库中的数据计算得出。
                                                                </td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">拨款依据：</td>
                                                                <td colspan="3">
                                                                    <select class="form-control back-border-none" name="account" style="color: red;">
                                                                        <option>请选择文件</option>
                                                                        <option>option 2</option>
                                                                        <option>option 3</option>
                                                                        <option>option 4</option>
                                                                    </select>
                                                                </td>
                                                                <td colspan="3">工程状态：</td>
                                                                <td colspan="3">
                                                                    <select class="form-control back-border-none" name="account" style="color: red;">
                                                                        <option>请选择状态</option>
                                                                        <option>未完成</option>
                                                                        <option>在建</option>
                                                                        <option>已完成</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">暂定金额：</td>
                                                                <td colspan="3">521万元</td>
                                                                <td colspan="3">计划资金总额：</td>
                                                                <td colspan="3">1120万元</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">合同清单价</td>
                                                                <td colspan="3">110万元</td>
                                                                <td colspan="3">安全经费：</td>
                                                                <td colspan="3">12万元</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">计量支付审定资金：</td>
                                                                <td colspan="3">200万元</td>
                                                                <td colspan="3">至上期累计拨付资金：</td>
                                                                <td colspan="3">852万元</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">未付资金：</td>
                                                                <td colspan="3">268万元</td>
                                                                <td colspan="3">质保金扣除：</td>
                                                                <td colspan="3">56万元</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">应付资金：</td>
                                                                <td colspan="3">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control back-border-none" placeholder="请输入应付资金">
                                                                        <div class="input-group-addon back-border-none">万元</div>
                                                                    </div>
                                                                </td>
                                                                <td colspan="3">本期申请资金：</td>
                                                                <td colspan="3">200万元</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">本期核定拨付资金：</td>
                                                                <td colspan="3">200万元</td>
                                                                <td colspan="3">本期累计拨付资金：</td>
                                                                <td colspan="3">10万元</td>
                                                            </tr>
                                                            <tr style="height: 100px">
                                                                <td colspan="3">申请理由：</td>
                                                                <td colspan="9">需要选择工程信息库中某个工程，字段审批单编号由系统自动生成，字段指挥部编号、指挥部名称、收款单位、服务类型编号、服务类型名称、项目编号、项目名称、工程性质、项目内容规模、计划资金总额、暂定金额、计量支付审定资金、质保金扣除由项目信息库中导入生成，字段拨款依据、本期变更金额、本期申请资金、本期核定拨付资金、计划服务费用、申请理由、职能部门意见由申请人手工录入，其中申请理由附件由申请人选择项目库信息中的附件，字段清单价及安全生产经费、累计变更金额、至上期累计拨付资金、未付资金、应付资金、本期累计拨付资金由系统根据手工输入和项目信息库中的数据计算得出。
                                                                </td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">职能部门意见：</td>
                                                                <td colspan="3">通过</td>
                                                                <td colspan="3">财务部门意见：</td>
                                                                <td colspan="3">通过</td>
                                                            </tr>
                                                            <tr style="height: 25px">
                                                                <td colspan="2">填报人：</td>
                                                                <td colspan="1">马旭成</td>
                                                                <td colspan="3">2017年10月16日 21:19:06</td>
                                                                <td colspan="2">初审人：</td>
                                                                <td colspan="1">小宇</td>
                                                                <td colspan="3">2017年10月16日 22:19:06</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">局分管领导签批：</td>
                                                                <td colspan="3">批准拨款</td>
                                                                <td colspan="3">局主要领导签批：</td>
                                                                <td colspan="3">批准拨款</td>
                                                            </tr>
                                                            <tr style="height: 25px">
                                                                <td colspan="2">签字：</td>
                                                                <td colspan="1">张辉</td>
                                                                <td colspan="3">2017年10月16日 21:19:06</td>
                                                                <td colspan="2">签字：</td>
                                                                <td colspan="1">张辉</td>
                                                                <td colspan="3">2017年10月16日 21:19:06</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <h1>确认与预览</h1>
                                        <div class="step-content">
                                            <div class="text-center m-t-md">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table id="zijinbfsqb" width="100%" border="1px" style="table-layout: fixed">
                                                            <tbody>
                                                            <tr>
                                                                <td colspan="3">建设指挥部（管理办）：</td>
                                                                <td colspan="3">邳州市交通局</td>
                                                                <td colspan="3">编号：</td>
                                                                <td colspan="3">0101170010001</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">收款单位：</td>
                                                                <td colspan="3">阿里巴巴有限公司</td>
                                                                <td colspan="2">服务类型：</td>
                                                                <td colspan="1">施工类</td>
                                                                <td colspan="2">单位：</td>
                                                                <td colspan="1">万元</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">项目名称：</td>
                                                                <td colspan="3">泉山区道路翻新工程</td>
                                                                <td colspan="3">工程性质：</td>
                                                                <td colspan="3">施工类工程</td>
                                                            </tr>
                                                            <tr style="height: 100px">
                                                                <td colspan="3">项目内容、规模：</td>
                                                                <td colspan="9">需要选择工程信息库中某个工程，字段审批单编号由系统自动生成，字段指挥部编号、指挥部名称、收款单位、服务类型编号、服务类型名称、项目编号、项目名称、工程性质、项目内容规模、计划资金总额、暂定金额、计量支付审定资金、质保金扣除由项目信息库中导入生成，字段拨款依据、本期变更金额、本期申请资金、本期核定拨付资金、计划服务费用、申请理由、职能部门意见由申请人手工录入，其中申请理由附件由申请人选择项目库信息中的附件，字段清单价及安全生产经费、累计变更金额、至上期累计拨付资金、未付资金、应付资金、本期累计拨付资金由系统根据手工输入和项目信息库中的数据计算得出。
                                                                </td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">拨款依据：</td>
                                                                <td colspan="3">泉山区道路翻新工程</td>
                                                                <td colspan="3">计划资金总额：</td>
                                                                <td colspan="3">1120万元</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">暂定金额：</td>
                                                                <td colspan="3">521万元</td>
                                                                <td colspan="3">清单价及安全生产经费：</td>
                                                                <td colspan="3">110万元</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">本期变更金额：</td>
                                                                <td colspan="3">12万元</td>
                                                                <td colspan="3">累计变更金额：</td>
                                                                <td colspan="3">51万元</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">计量支付审定资金：</td>
                                                                <td colspan="3">200万元</td>
                                                                <td colspan="3">至上期累计拨付资金：</td>
                                                                <td colspan="3">852万元</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">未付资金：</td>
                                                                <td colspan="3">268万元</td>
                                                                <td colspan="3">质保金扣除：</td>
                                                                <td colspan="3">56万元</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">应付资金：</td>
                                                                <td colspan="3">212万元</td>
                                                                <td colspan="3">本期申请资金：</td>
                                                                <td colspan="3">200万元</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">本期核定拨付资金：</td>
                                                                <td colspan="3">200万元</td>
                                                                <td colspan="3">本期累计拨付资金：</td>
                                                                <td colspan="3">10万元</td>
                                                            </tr>
                                                            <tr style="height: 100px">
                                                                <td colspan="3">申请理由：</td>
                                                                <td colspan="9">需要选择工程信息库中某个工程，字段审批单编号由系统自动生成，字段指挥部编号、指挥部名称、收款单位、服务类型编号、服务类型名称、项目编号、项目名称、工程性质、项目内容规模、计划资金总额、暂定金额、计量支付审定资金、质保金扣除由项目信息库中导入生成，字段拨款依据、本期变更金额、本期申请资金、本期核定拨付资金、计划服务费用、申请理由、职能部门意见由申请人手工录入，其中申请理由附件由申请人选择项目库信息中的附件，字段清单价及安全生产经费、累计变更金额、至上期累计拨付资金、未付资金、应付资金、本期累计拨付资金由系统根据手工输入和项目信息库中的数据计算得出。
                                                                </td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">职能部门意见：</td>
                                                                <td colspan="3">通过</td>
                                                                <td colspan="3">财务部门意见：</td>
                                                                <td colspan="3">通过</td>
                                                            </tr>
                                                            <tr style="height: 25px">
                                                                <td colspan="2">填报人：</td>
                                                                <td colspan="1">马旭成</td>
                                                                <td colspan="3">2017年10月16日 21:19:06</td>
                                                                <td colspan="2">初审人：</td>
                                                                <td colspan="1">小宇</td>
                                                                <td colspan="3">2017年10月16日 22:19:06</td>
                                                            </tr>
                                                            <tr style="height: 50px">
                                                                <td colspan="3">局分管领导签批：</td>
                                                                <td colspan="3">批准拨款</td>
                                                                <td colspan="3">局主要领导签批：</td>
                                                                <td colspan="3">批准拨款</td>
                                                            </tr>
                                                            <tr style="height: 25px">
                                                                <td colspan="2">签字：</td>
                                                                <td colspan="1">张辉</td>
                                                                <td colspan="3">2017年10月16日 21:19:06</td>
                                                                <td colspan="2">签字：</td>
                                                                <td colspan="1">张辉</td>
                                                                <td colspan="3">2017年10月16日 21:19:06</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="weiwanjiegd" class="tab-pane active">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    全部工单
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <div class="row m-b-sm m-t-sm">
                                            <div class="col-md-4">
                                                <button class="btn btn-info " type="button" id="chakanwwcgd"><i class="fa fa-paste"></i>未完成</button>
                                                <button class="btn btn-success " type="button" id="chakanwclgd"><i class="fa fa-paste"></i>未处理</button>
                                                <button class="btn btn-primary " type="button" id="chakanywcgd"><i class="fa fa-paste"></i>已完成</button>
                                                <button class="btn btn-danger " type="button" id="chakanzfgd"><i class="fa fa-paste"></i>作废</button>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-btn">
                                                        <button data-toggle="dropdown" class="btn btn-white btn-sm dropdown-toggle" type="button" aria-expanded="false" id="sousuoxx">请选择搜索类型</button>
                                                        <ul class="dropdown-menu">
                                                            <li><a id="sousuoxx_xmmc">项目名称</a></li>
                                                            <li><a id="sousuoxx_skdw">收款单位</a></li>
                                                            <li><a id="sousuoxx_fwlx">服务类型</a></li>
                                                            <li class="divider"></li>
                                                            <li><a id="sousuoxx_mhpp">模糊匹配</a></li>
                                                        </ul>
                                                    </div>
                                                    <input type="text" id="sousuokuang" class="input-sm form-control">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-primary btn-sm" id="sousuo">搜索</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--
                                            <div class="col-md-1">
                                                <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" ><i class="fa fa-refresh"></i> Refresh</button>
                                            </div>
                                            <div class="col-md-11">
                                                <div class="input-group">
                                                    <div class="input-group-btn">
                                                        <button data-toggle="dropdown" class="btn btn-white btn-sm dropdown-toggle" type="button" aria-expanded="false">Action <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"></a></li>
                                                            <li><a href="#">Another action</a></li>
                                                            <li><a href="#">Something else here</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Separated link</a></li>
                                                        </ul>
                                                    </div>
                                                    <input type="text" class="input-sm form-control">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-primary btn-sm">搜索</button>
                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>
                                        {{> gongdanlb shuju_gongdanlb = shuju_gongdanlb}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>