<template name="error404">
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">页面未找到</h3>

        <div class="error-desc">
            抱歉，但是你想进入的页面我们没有找到。检查一下是不是url出现了问题，然后再次刷新该页面或者进入其他页面。
            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索页面...">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    </div>
</template>