<template name="zuzhiqxgl">

    {{> pageHeading title='组织权限管理'}}

    <div class="wrapper wrapper-content">
        <!--<div  class="ibox-title">
            <div>
                <a data-toggle="modal" class="btn btn-primary demo1">保存</a>
            </div>
        </div>-->
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>组织权限</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div style="height:470px;" class="ibox-content">
                        <ul class="list-inline">
                            <li><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target='#xinzengjgmodel'> 新增机构 </button></li>
                            <li><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target='#xinzengbmmodel'> 新增部门 </button></li>
                            <li><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target='#xinzengrmmodel'> 新增人员 </button></li>
                        </ul>
                        <!--<ul class="list-inline">
                            <li><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target='#bianjijgmodel'> 编辑机构 </button></li>
                            <li><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target='#bianjibmmodel'> 编辑部门 </button></li>
                            <li><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target='#bianjirymodel'> 编辑人员 </button></li>
                        </ul>-->
                        <!--<button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target='#xinzengjgmodel'> 新增机构 </button>
                        <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target='#xinzengbmmodel'> 新增部门 </button>
                        <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target='#xinzengrmmodel'> 新增人员 </button>
                        <button type="button" class="btn btn-xs btn-primary"> 编辑机构 </button>-->

                        <div class="ibox-content">
                            <div id="plugins1">
                                <!--{{#each shuju_zuzhiqxglxx}}
                                <ul>
                                    <li class="jstree-open"> {{jigoumc}}
                                        <ul>
                                            <li class="jstree-open">工程部
                                                <ul>
                                                    <li data-jstree='"type":"css"}'>丁一</li>
                                                    <li data-jstree='"type":"css"}'>丁二</li>
                                                    <li data-jstree='"type":"css"}'>丁三</li>
                                                </ul>
                                            </li>
                                            <li>财务部
                                                <ul>
                                                    <li data-jstree='"type":"html"}'>钱一</li>
                                                    <li data-jstree='"type":"html"}'>钱二</li>
                                                    <li data-jstree='"type":"html"}'>钱三</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                {{/each}}-->
                                <!--<ul>
                                    <li class="jstree-open">邳州市交通局
                                        <ul>
                                            <li class="jstree-open">工程部
                                                <ul>
                                                    <li data-jstree='"type":"css"}'>丁一</li>
                                                    <li data-jstree='"type":"css"}'>丁二</li>
                                                    <li data-jstree='"type":"css"}'>丁三</li>
                                                </ul>
                                            </li>
                                            <li>财务部
                                                <ul>
                                                    <li data-jstree='"type":"html"}'>钱一</li>
                                                    <li data-jstree='"type":"html"}'>钱二</li>
                                                    <li data-jstree='"type":"html"}'>钱三</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5 id="xingmingtitle"></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div style="height: 470px" class="ibox-content">
                        <ul class="list-inline">
                            <li><button type="button" class="btn btn-sm btn-primary" id="quanxianxxan"> 保存 </button></li>
                        </ul>

                        <div class="ibox-content">
                            <!--<div class="form-group"><label class="col-sm-2 control-label"> 普通用户 <br/></label>
                                <div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i> 道路 </label></div>
                                <div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i> 桥梁 </label></div>
                                <div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i> 安保设施 </label></div>
                                <div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i> 养护工程 </label></div>
                            </div>-->
                            <!--{{#each shuju_mabiaoxx}}
                            <div class="form-group">
                                <div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i> {{mazhi}} </label></div>
                            </div>
                            {{/each}}-->
                            <div class="form-group" id="xiangmufl">
                            </div>
                        </div>
                    </div>
                    <!--<div style="height: 470px" class="ibox-content">
                        &lt;!&ndash;<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal1"> 新增角色 </button>
                        <button type="button" class="btn btn-sm btn-primary"> 编辑角色 </button>&ndash;&gt;
                        &lt;!&ndash;<ul class="list-inline">
                            <li><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target='#xinzengjsmodel'> 新增角色 </button></li>
                            <li><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target='#xinzengzhmodel'> 新增账号 </button></li>
                        </ul>&ndash;&gt;
                        &lt;!&ndash;<ul class="list-inline">
                            <li><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target='#bianjijsmodel'> 编辑角色 </button></li>
                            <li><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target='#bianjizhmodel'> 编辑账号 </button></li>
                        </ul>&ndash;&gt;

                        <div class="ibox-content">
                            <div id="plugins2">

                            </div>
                        </div>
                    </div>-->
                </div>
            </div>

        </div>
    </div>

    <!--模态框 新增机构-->
    <div class="modal inmodal" id="xinzengjgmodel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">机构新增</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-4 control-label">机构编号:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="机构编号" id="xinzengjgjgbh"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">机构名称:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="机构名称" id="xinzengjgjgmc"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="xinzengjgan">新增</button>
                </div>
            </div>
        </div>
    </div>

    <!--模态框 新增部门-->
    <div class="modal inmodal" id="xinzengbmmodel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">部门新增</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-4 control-label">归属机构:</label>
                                    <div class="col-sm-8"><select class="form-control" id="xinzengbmjg"></select></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">部门编号:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="部门编号" id="xinzengbmbh"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">部门名称:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="部门名称" id="xinzengbmmc"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="xinzengbman">新增</button>
                </div>
            </div>
        </div>
    </div>

    <!--模态框 新增人员-->
    <div class="modal inmodal" id="xinzengrmmodel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">人员新增</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-4 control-label">归属机构:</label>
                                    <div class="col-sm-8"><select class="form-control" id="xinzengryjg"></select></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">归属部门:</label>
                                    <div class="col-sm-8"><select class="form-control" id="xinzengrybm"></select></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">姓名:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="姓名" id="xinzengryxm"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">账号类型:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="xinzengryzhlx">
                                            <option value="普通用户">普通用户</option>
                                            <option value="财务用户">财务用户</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">账号编号:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="账号编号" id="xinzengrybh"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">账号名称:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="账号名称" id="xinzengrymc"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">密码:</label>
                                    <div class="col-sm-8"><input type="password" class="form-control" placeholder="密码" id="xinzengrymm"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="xinzengryan">新增</button>
                </div>
            </div>
        </div>
    </div>

    <!--模态框 编辑机构-->
    <div class="modal inmodal" id="bianjijgmodel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">机构编辑</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset class="form-horizontal">
                                <!--<div class="form-group"><label class="col-sm-4 control-label">编辑机构:</label>
                                    <div class="col-sm-8"><select class="form-control" id="bianjijg"></select></div>
                                </div>-->
                                <input type="hidden" id="bianjijg">
                                <div class="form-group"><label class="col-sm-4 control-label">机构编号:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="机构编号" id="bianjijgjgbh"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">机构名称:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="机构名称" id="bianjijgjgmc"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="bianjijgan">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!--模态框 编辑部门-->
    <div class="modal inmodal" id="bianjibmmodel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">部门编辑</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset class="form-horizontal">
                                <!--<div class="form-group"><label class="col-sm-4 control-label">归属机构:</label>
                                    <div class="col-sm-8"><select class="form-control" id="bianjibmjg"></select></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">编辑部门:</label>
                                    <div class="col-sm-8"><select class="form-control" id="bianjibmbm"></select></div>
                                </div>-->
                                <input type="hidden" id="bianjibmjg">
                                <input type="hidden" id="bianjibmbm">
                                <div class="form-group"><label class="col-sm-4 control-label">部门编号:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="部门编号" id="bianjibmbmbh"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">部门名称:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="部门名称" id="bianjibmbmmc"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="bianjibman">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!--模态框 编辑人员-->
    <div class="modal inmodal" id="bianjirymodel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">人员编辑</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset class="form-horizontal">
                                <!--<div class="form-group"><label class="col-sm-4 control-label">归属机构:</label>
                                    <div class="col-sm-8"><select class="form-control" id="bianjiryjg"></select></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">归属部门:</label>
                                    <div class="col-sm-8"><select class="form-control" id="bianjirybm"></select></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">编辑人员:</label>
                                    <div class="col-sm-8"><select class="form-control" id="bianjiryry"></select></div>
                                </div>-->
                                <input type="hidden" id="bianjiryjg">
                                <input type="hidden" id="bianjirybm">
                                <input type="hidden" id="bianjiryry">
                                <div class="form-group"><label class="col-sm-4 control-label">姓名:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="姓名" id="bianjiryxm"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">账号类型:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="bianjiryzhlx">
                                            <option value="普通用户">普通用户</option>
                                            <option value="财务用户">财务用户</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">账号编号:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="账号编号" id="bianjirybh"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">账号名称:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="账号名称" id="bianjirymc"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">密码:</label>
                                    <div class="col-sm-8"><input type="password" class="form-control" placeholder="密码" id="bianjirymm"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="bianjiryman">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!--
    &lt;!&ndash;模态框 新增角色&ndash;&gt;
    <div class="modal inmodal" id="xinzengjsmodel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">角色新增</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-4 control-label">归属部门:</label>
                                    <div class="col-sm-8"><select class="form-control" id="xinzengjsbm"></select></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">角色编号:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="角色编号" id="xinzengjsbh"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">角色名称:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="角色名称" id="xinzengjsmc"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="xinzengjsan">新增</button>
                </div>
            </div>
        </div>
    </div>

    &lt;!&ndash;模态框 新增账号&ndash;&gt;
    <div class="modal inmodal" id="xinzengzhmodel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">账号新增</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-4 control-label">归属部门:</label>
                                    <div class="col-sm-8"><select class="form-control" id="xinzengzhbm"></select></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">归属角色:</label>
                                    <div class="col-sm-8"><select class="form-control" id="xinzengzhjs"></select></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">账号编号:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="账号编号" id="xinzengzhzhbh"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">账号名称:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="账号名称" id="xinzengzhzhmc"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="xinzengzhan">新增</button>
                </div>
            </div>
        </div>
    </div>

    &lt;!&ndash;模态框 角色管理-编辑部门&ndash;&gt;
    <div class="modal inmodal" id="bianjijsbmbmmodel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">部门编辑</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset class="form-horizontal">
                                <input type="hidden" id="bianjijsbmjg">
                                <input type="hidden" id="bianjijsbmbm">
                                <div class="form-group"><label class="col-sm-4 control-label">部门编号:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="部门编号" id="bianjijsbmbmbh"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">部门名称:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="部门名称" id="bianjijsbmbmmc"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="bianjijsbman">保存</button>
                </div>
            </div>
        </div>
    </div>

    &lt;!&ndash;模态框 编辑角色&ndash;&gt;
    <div class="modal inmodal" id="bianjijsmodel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">角色编辑</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset class="form-horizontal">
                                &lt;!&ndash;<div class="form-group"><label class="col-sm-4 control-label">归属部门:</label>
                                    <div class="col-sm-8"><select class="form-control" id="bianjijsbm"></select></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">编辑角色:</label>
                                    <div class="col-sm-8"><select class="form-control" id="bianjijsjs"></select></div>
                                </div>&ndash;&gt;
                                <input type="hidden" id="bianjijsbm">
                                <input type="hidden" id="bianjijsjs">
                                <div class="form-group"><label class="col-sm-4 control-label">角色编号:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="角色编号" id="bianjijsbh"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">角色名称:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="角色名称" id="bianjijsmc"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="bianjijsan">保存</button>
                </div>
            </div>
        </div>
    </div>

    &lt;!&ndash;模态框 编辑账号&ndash;&gt;
    <div class="modal inmodal" id="bianjizhmodel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">账号编辑</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-4 control-label">归属部门:</label>
                                    <div class="col-sm-8"><select class="form-control" id="bianjizhbm"></select></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">归属角色:</label>
                                    <div class="col-sm-8"><select class="form-control" id="biajizhjs"></select></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">编辑账号:</label>
                                    <div class="col-sm-8"><select class="form-control" id="bianjizhzh"></select></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">账号编号:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="账号编号" id="bianjizhbh"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-4 control-label">账号名称:</label>
                                    <div class="col-sm-8"><input type="text" class="form-control" placeholder="账号名称" id="bianjizhmc"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="bianjizhan">保存</button>
                </div>
            </div>
        </div>
    </div>
    -->


</template>