<template name="rightSidebar">
    <div id="right-sidebar">
        <div class="sidebar-container">

            <ul class="nav nav-tabs navs-3">
                <li class="active"><a data-toggle="tab" href="#tab-1">消息通知</a></li>
                <li><a data-toggle="tab" href="#tab-2">工单任务</a></li>
                <li class=""><a data-toggle="tab" href="#tab-3">系统设置</a></li>
            </ul>

            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">

                    <div class="sidebar-title">
                        <h3> <i class="fa fa-comments-o"></i> 消息通知</h3>
                        <small><i class="fa fa-tim"></i>你有{{dangqianxxsl}}个新消息</small>
                    </div>

                    <div>
                        {{#each xiaoxixx}}
                            <div class="sidebar-message">
                                <div class="media-body">
                                    {{xinxinr}}
                                    <br>
                                    <small class="text-muted">{{shijian}}</small>
                                </div>
                            </div>
                        {{/each}}
                    </div>

                </div>

                <div id="tab-2" class="tab-pane">
                    <div class="sidebar-title">
                        <h3> <i class="fa fa-cube"></i> 工单任务</h3>
                        <small><i class="fa fa-tim"></i> 你有{{daichulgdsl}}个待处理工单.</small>
                    </div>
                    <ul class="sidebar-list">
                        {{#each zijinbflcxx}}
                            <li>
                                <h4>{{xiangmumc}}</h4>
                                {{xiangmumc}}工程{{fuwulxmc}}类{{biaoduanmc}}，收款单位为{{shoukuandw}}
                                <div class="small text-muted m-t-xs">合同金额: {{hetongje}}万元</div>
                                <div class="small text-muted m-t-xs">当前状态: 待{{dangqianclzt}}</div>
                            </li>
                        {{/each}}
                    </ul>
                </div>


                <div id="tab-3" class="tab-pane">
                    <div class="sidebar-title">
                        <h3><i class="fa fa-gears"></i> 设置</h3>
                        <small><i class="fa fa-tim"></i>系统设置</small>
                    </div>

                    <div class="setings-item">
                            <span>
                                显示通知
                            </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
                                <label class="onoffswitch-label" for="example">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="setings-item">
                            <span>
                                显示任务
                            </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="collapsemenu" checked class="onoffswitch-checkbox" id="example2">
                                <label class="onoffswitch-label" for="example2">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-content">
                        <h4>设置说明</h4>
                        <div class="small">
                            自定义
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>